@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

/*Variables */
:root {
  --mobile-width: 375px;
  --desktop-width: 1440px;
  --pale-blue: hsl(225, 100%, 94%);
  --bright-blue: hsl(245, 75%, 52%);
  --very-pale-blue: hsl(225, 100%, 98%);
  --desaturated-blue: hsl(224, 23%, 55%);
  --dark-blue: hsl(223, 47%, 23%);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
};

.cardContent p {
  color: white;
}

.App {
  display: flex;
  min-height: 100vh;
  text-align: center;
  justify-content: center;
  align-items: center;
  background: var(--pale-blue);
  background-image: url('./images/pattern-background-desktop.svg');
  background-repeat: no-repeat;
  max-width: var(--desktop-width);
}

.card {
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: none;
  border-radius: 1.5rem;
  box-shadow: 0px 1px 15px 4px var(--desaturated-blue);
  max-height: 80%;
  width: 28%;
}

.cardContent {
  display: flex;
  flex-direction: column;
  padding: 0rem 2rem;
  color: var(--desaturated-blue);
}

.card h1 {
  color: var(--dark-blue);
  font-weight: 900;
}

.card a {
  font-weight: 900;
  color: var(--desaturated-blue)
}

.heroImage {
  max-width: 100%;
  max-height: auto;
  border-radius: 1rem 1rem 0 0 ;
}

.planSelection {
  display: flex;
  flex-direction: row;
  border: none;
  border-radius: 0.6rem;
  background-color: var(--very-pale-blue);
  align-items: center;
  justify-content: space-between;
}

.planSelection a {
  font-weight: 500;
  color: var(--bright-blue);
}

.planText h3{
  color: var(--dark-blue);
}

.changeLink {
  margin-left: 20px;
}

.musicIcon {

}

.proceed {
  color: white;
  font-family: 'Red Hat Display';
  font-weight: 700;
  background-color: var(--bright-blue);
  padding: 1rem;
  border: none;
  border-radius: 1rem;
  box-shadow: 0 3px 6px 1px var(--desaturated-blue);

}

.cancelOrder {
  text-decoration: none;
  padding: 1rem;
  margin: 10px 0px;
}

/* @media (prefers-reduced-motion: no-preference) {
  .App {
    
  }
} */

