@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

/*Variables */
  *,
*::before,
*::after  {
  --mobile-width: 375px;
  --desktop-width: 1440px;
  --pale-blue: hsl(225, 100%, 94%);
  --bright-blue: hsl(245, 75%, 52%);
  --very-pale-blue: hsl(225, 100%, 98%);
  --desaturated-blue: hsl(224, 23%, 55%);
  --dark-blue: hsl(223, 47%, 23%);
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  /* box-sizing: border-box; */
};

.cardContent > p {
  color: white;
  font-size: 16px;
}

.App {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  text-align: center;
  background: var(--pale-blue);
  background-image: url('./images/pattern-background-desktop.svg');
  background-repeat: no-repeat;
  background-size: 100vw;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: white;
  border: none;
  border-radius: 1.5rem;
  width:27rem;
  height: 38rem;
  box-shadow: 2px 27px 27px -10px rgba(171,171,171,0.47);
}

h1 h2 {
  color: var(--dark-blue);
  font-weight: 900;
}
.sr-only {
  overflow: hidden;
  border: 0;
  margin: 0;
  height: 0px;
  position: absolute;
  widtH: 1px;
  height: 1px
}

.cardContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  padding: 1.25rem 2.5rem 0.5rem 2.5rem;
}

.cardContent > h2 {
  margin: 1rem 0rem 0rem 0rem;
}

.cardContent > p {
  margin: 1rem;
  color: var(--desaturated-blue);
}

.card > a {
  font-weight: 900;
  color: var(--desaturated-blue)
}

.heroImage {
  width: 100%;
  max-height: auto;
  object-fit: cover;
  border-radius: 1rem 1rem 0 0 ;
}

.planSelection {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 0.6rem;
  background-color: var(--very-pale-blue);
  width: 100%;
  padding: 1rem 0rem;
  margin-bottom: 1rem;
}

.planSelection a {
  font-weight: 500;
  color: var(--bright-blue);
}

.planText {
  margin-left: 20px;
  text-align: left;
}

.planType {
  font-size: 16px;
}

.price {
  color: var(--desaturated-blue);
} 

.changeLink {
  margin-left: 6rem;
  font-size: 14px;
  font-weight: 700;
}

.changeLink:hover {
  color: hsl(245, 75%, 68%);
  text-decoration: none;
  font-weight: 900;
}

.proceed {
  color: white;
  font-family: 'Red Hat Display';
  font-weight: 700;
  font-size: 14px;
  background-color: var(--bright-blue);
  width: 100%;
  padding: 0.75rem;
  margin-top: 10px;
  border: none;
  border-radius: 0.6rem;
  box-shadow: 2px 20px 27px -10px var(--desaturated-blue);}
  
  .proceed:hover {
    background-color: hsl(245, 75%, 68%);
  }
  
  .cancelOrder {
    text-decoration: none;
    width: fit-content;
    padding: 1rem;
    margin: 10px 0px;
    font-size: 14px;
    font-weight: 900;
    color: var(--desaturated-blue)
  }
  
  .cancelOrder:hover {
  color: var(--dark-blue);
}

/* Mobile styles */
@media only screen and (max-width: 375px) {
  .card {
    height: 80vh;
    max-width: 320px;
  }
  .cardContent {
    width: 100%;
    padding: 1rem;
  }
  .cardContent > p {
    line-height: 1.5;
    margin: 0.7rem;
  }
  .planSelection {
    padding: 0.75rem 0rem;
    margin: 1rem 0rem;
    justify-content: flex-start;
  }
  .musicIcon {
    margin-left: 15px;
  }
  .planText {
    margin: 0 0 0 18px !important;
  }
  .changeLink {
    margin: 0 0 0 38px !important;
    font-weight: 700 !important;
  }
  .proceed {
    font-size: 15px;
  }
}

